<html>
    <body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <h2 style="text-align: center;font-size:30px;padding:10px;background-color: grey;color: white;">FlashCard Reminder</h2>
        <div style="font-size: 20px;">
            <h3>Hi {{ username }}</h3>
            <p>We hope you must be doing fine.</p>
            <p>Looks like <b>you have not revised</b> any of your decks today.<br>
                Visit your dashboard today and revise your decks to <b>stay ahead on your learning</b>.
            </p>
            <p>
                Harshit Katiyar<br>
                FlashCard Developer<br>
                <a href="mailto:harshitk31dec@gmail.com">Email</a>
            </p>
        </div>

    </body>
</html>